@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Poppins", sans-serif; 
}

body {
    background-color: #000;
    max-width: 800px;
    margin: 0 auto;
}

/* hr {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
} */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.titulo {
    text-align: center;
    padding: 20px;
    color: #fff;
    margin-top: 15px;
}

.titulo-tela {
    margin-top: 10px;
    font-size: 2.5rem;
}

.titulo-login  {
    font-size: 3.3rem;
}

.paragrafo {
    color: #fff;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.paragrafo > p {
    text-align: justify;
    padding: 10px;
    font-size: 1.125rem;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.tela01 {
    background: url(login-1.0/asstes/img/landscape.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tela01 > a > span {
    margin-right: 2px;
}

.tela01 > a {
    color: black;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 10px;
}

.tela02 {
    background: url(login-2.0/assets/imgs/landscape.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tela02 > a > span {
    margin-right: 2px;
}

.tela02 > a {
    color: black;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 10px;
}

.tela03 {
    background: url(login-3.0/assets/img/my-first-ever-vector-landscape-inspired-by-u-dataxiii-v0-1x0javmx8an91.webp) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tela03 > a > span {
    margin-right: 2px;
}

.tela03 > a {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 10px;
}

.tela04 {
    background: url(login-4.0/assets/img/sunrise-landscape-minimalism-5k-ex-1920x1080.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tela04 > a > span {
    margin-right: 2px;
}

.tela04 > a {
    color: #fff;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 10px;
}

.breve {
    height: 70px;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.breve > a {
    color: #000;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin-right: 10px;
}

